body {
    background-color: rgba(27, 38, 44);
    /* background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png"); */
    color: rgb(50, 130, 184);
}

img {
    object-fit: cover;
    border-radius: 50%;
    height: 164px;
    width: 164px;
}

a {
    color: rgb(187, 225, 250);
}

a:hover {
    color: rgb(221, 234, 243);
}

.active {
    text-decoration: underline;
}

nav {
    background-color: rgba(15, 76, 117, 0.8);
}

.nav-header {
    margin: 0 100px;
    font-size: large;
}

.q-item h1 {
    padding: 2%;
}

hr {
    border-top: 2px dotted black;
}

.settings {
    color: rgb(187, 225, 250);
    padding-right: 20px;
}