body {
    background-color: rgba(27, 38, 44);
    /* background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png"); */
    color: rgb(50, 130, 184);
    font-family: 'Lato', sans-serif;
}

.fa-check {
    color: lightgreen;
}

.fa-times {
    color: red;
}

button:hover {
    background-color: rgb(221, 234, 243) !important;
    color: rgb(50, 130, 184) !important;
}

a {
    color: rgb(187, 225, 250);
}

a:hover {
    color: rgb(221, 234, 243);
}

.active {
    text-decoration: underline;
}

nav {
    background-image: linear-gradient(rgb(15, 76, 117), rgb(27, 38, 44));
    font-weight: bold;
    letter-spacing: 2px;
}

#error {
    color: red;
    font-size: large;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.8;
}

.addFriend {
    margin-top: 20px;
}

.nav-header {
    margin: 10px 100px;
    font-size: large;
}

.friendForm {
    letter-spacing: 2px;
    padding: 60px 60px;
    background-color: rgb(15, 76, 117);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color:rgb(187, 225, 250);
}

.friendForm h3 {
    text-align: center;
}

.friend-info {
    text-align: left;
    display: flex;
    align-items: center;
}

.friend-img {
    object-fit: cover;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.friends-list {
    background-color: rgba(15, 76, 117, 0.6);
    margin-top: 20px;
    border: black;
    border-style: solid;
    border-width: 2px 0 2px 2px;
}

.friends-list ul {
    list-style-type: none;
    padding: 10px 30px;
}

.friends-list ul li {
    font-size: large;
    color: rgb(187, 225, 250);
    margin: 40px 0;
}

.friends-list ul li i {
    margin: 0 10px;
}

.friends-list ul li.addFriend {
    font-size: large;
    text-align: center;
    margin: 5px;
}

.friends-list ul li.addFriend a:hover {
    color: rgb(221, 234, 243);
    text-decoration: none;
}

#status {
    font-size: small;
    color: rgb(50, 130, 184);
}

li.requests {
    margin: 20px 0 !important;
}

.requests h4 {
    text-align: center;
}

.requests li {
    margin: 10px 0 !important;
}

.requestButton {
    background-color: rgba(15, 76, 117, 0);
    border: none;
}

.requestButton:hover {
    background-color: rgba(15, 76, 117, 0.6) !important;
    border: none;
}

.q-item h1 {
    padding: 2%;
}

hr {
    border-top: 2px dotted black;
}

.logout {
    margin-right: -10px;
}

.settings {
    color: rgb(187, 225, 250);
    padding-top: 15px;
    padding-right: 60px;
}

.btn {
    background-color: rgb(187, 225, 250) !important;
    border-color: rgb(187, 225, 250) !important;
    color: rgb(15, 76, 117);
}

.createForm {
    letter-spacing: 2px;
    padding: 80px 120px;
    background-color: rgb(15, 76, 117);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color:rgb(187, 225, 250);
}

.buttons {
    margin-top: 30px;
}

.radio-label {
    letter-spacing: 1px;
    font-size: 20px;
}

.createForm h3 {
    margin: 20px 0;
}

.createForm h1 {
    text-align: center;
    margin-bottom: 20px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.createAuto {
    width: 300px;
    font-size: medium;
    color: black;
    letter-spacing: normal;
}

textarea {
    font-size: medium;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=number] {
    margin-left: 20px;
    background-color: #f1f1f1;
    width: 20%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    color: rgb(50, 130, 184);
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}