.queue {
    list-style-type: none;
    padding: 15px;
}

.queue li {
    margin: 0 20px;
}

img {
    object-fit: cover;
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.queue li img {
    object-fit: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}

.locked {
    color: rgb(187, 225, 250);
}

ol.q-list li {
    margin-right: 15px;
    font-size: larger;
}

.q-item {
    margin-left: 2%;
    margin-top: 20px;
    background-color: rgba(15, 76, 117, 0.6);
    border: black;
    border-style: solid;
    border-width: 2px;
}

.q-item h1 {
    font-size: xx-large;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.users {
    list-style-type: none;
}

.upper a {
    margin: 20px 3% 0 3%;
}

.upper input {
    margin-top: 20px;
}

.upper a:hover {
    text-decoration: none;
}

.create {
    margin-left: 10px;
    display: inline;
}

span {
    display: block;
    text-align: center;
    margin-top: 10px;
}